@font-face {
    font-family: "ModernEraRegular";
    src: url("../assets/modern-era/modern-era-regular/ModernEra-Regular.eot") format("truetype"); /* IE9 Compat Modes */
    src: url("../assets/modern-era/modern-era-regular/ModernEra-Regular.woff") format("woff"),
        /* Modern Browsers */ url("../assets/modern-era/modern-era-regular/ModernEra-Regular.woff2") format("woff2"),
        /* Modern Browsers */ url("../assets/modern-era/modern-era-regular/ModernEra-Regular.otf") format("truetype"),
        /* Safari, Android, iOS */
    url("../assets/modern-era/modern-era-regular/ModernEra-Regular.svg#ModernEra-Regular") format("svg"); /* Legacy iOS */
}

:root {
    --main-text-color: #333331;
    --main-background-color: #DE7573;
    --main-number-background-color: #F5C2BA;
    --main-number-color: #913946;
    --main-highlighted-background: #F9E394;
    --main-highlighted-color: #4B453B;
}

body {
    font-family: "ModernEraRegular", Arial, sans-serif;
    color: var(--main-text-color);
    width: 90%;
    margin: 64px auto;
}

h1 {
    line-height: 1.7;
    font-size: 32px;
    text-align: center;
}

h2 {
    line-height: 1.4;
    font-size: 24px;
    text-align: center;
}


.main-container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 48px;
    background: var(--main-background-color);
    border-radius: 8px;
    padding: 32px;
}

/*mobile-first approach*/
.square-box {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    color: var(--main-number-color);
    background: var(--main-number-background-color);
    font-size: 64px;
    border: 2px solid var(--main-number-color);
    border-radius: 8px;
    cursor: pointer;
}

.highlighted-box {
    color: var(--main-highlighted-color);
    background: var(--main-highlighted-background);
}

/*tablet*/
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .main-container {
        grid-template-columns: 50% 50%;
    }
}

/*desktop*/
@media screen and (min-width: 1025px) {
    .main-container {
        grid-template-columns: 33% 33% 33%;
    }
}

/*very large scren*/
@media screen and (min-width: 1921px) {
    .main-container {
        margin-right: 400px;
        margin-left: 400px;
    }
}
