@font-face {
    font-family: "ModernEraRegular";
    src: url("../assets/modern-era/modern-era-regular/ModernEra-Regular.eot") format("truetype"); /* IE9 Compat Modes */
    src: url("../assets/modern-era/modern-era-regular/ModernEra-Regular.woff") format("woff"),
        /* Modern Browsers */ url("../assets/modern-era/modern-era-regular/ModernEra-Regular.woff2") format("woff2"),
        /* Modern Browsers */ url("../assets/modern-era/modern-era-regular/ModernEra-Regular.otf") format("truetype"),
        /* Safari, Android, iOS */
    url("../assets/modern-era/modern-era-regular/ModernEra-Regular.svg#ModernEra-Regular") format("svg"); /* Legacy iOS */
}

:root {
    --main-text-color: #333331;
    --main-background-color: #F5C2BA;
    --main-number-background-color: #DE7573;
    --main-number-color: #913946;
}

body {
    font-family: "ModernEraRegular", Arial, sans-serif;
    color: var(--main-text-color);
    width: 90%;
    margin: 64px auto;
}

h1 {
    line-height: 1.7;
    font-size: 32px;
}

h2 {
    line-height: 1.4;
    font-size: 24px;
}

.main-container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 48px;
    background: var(--main-background-color);
    border-radius: 4px;
    padding: 32px;
}


.square-box {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    color: var(--main-number-color);
    background: var(--main-number-background-color);
    font-size: 48px;
    border: 2px solid var(--main-number-color);
    border-radius: 4px;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .main-container {
        grid-template-columns: 50% 50%;
    }

    .square-box {
        /*flex: 1 0 calc(48% - 16px);*/
        /*max-width: 340px;*/
    }
}

@media screen and (min-width: 1025px) {
    .main-container {
        grid-template-columns: 33% 33% 33%;
    }

    .square-box {
        /*flex: 1 0 calc(33% - 16px);*/
        /*max-width: 600px;*/
    }
}














